
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

#app {
  height: 100vh;
}

#chat-main-container {
  height: 100vh;
}

#chat-panel-wrapper {
  height: inherit;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.chat-sidebar {
  background: #3F0E40;
  color: rgb(178,159,179);
  max-height: calc(100vh - 55px);
  overflow-y: scroll;
}

.chat-content {
  max-height: 100vh;
}

.chat-messages {
  overflow-y: scroll;
}

.chat-message-form {
  background: #b29fb3 !important;
}

.admin-form label {
  width: 100%;
}

.invalid-submission {
  color: red;
  font-size: .8em;
}

/* Bootstrap overrides */

.table-sm th, .table-sm td {
    padding: 0.2rem !important;
}

/* Contact notification animation */
.contact-blink {
 -webkit-animation: CONTACT-BLINK 1s infinite; /* Safari 4+ */
  -moz-animation:    CONTACT-BLINK 1s infinite; /* Fx 5+ */
  -o-animation:      CONTACT-BLINK 1s infinite; /* Opera 12+ */
  animation:         CONTACT-BLINK 1s infinite; /* IE 10+, Fx 29+ */


}

@-webkit-keyframes CONTACT-BLINK {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
  0%, 49% {
      background-color: rgba(255,0,0,.3);
  }
  50%, 100% {
      background-color: rgba(255,0,0,.4);
  }
}
